In [1]:
# Import Dependencies
import pandas as pd

In [2]:
bitcoin_csv = "Resources/bitcoin_cash_price.csv"
dash_csv = "Resources/dash_price.csv"

In [3]:
bitcoin_df = pd.read_csv(bitcoin_csv)
dash_df = pd.read_csv(dash_csv)

In [4]:
bitcoin_df.head()

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [5]:
dash_df.head()

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

In [8]:
# Merge the two DataFrames together based on the Dates they share
join_df = pd.merge(bitcoin_df, dash_df, on='Date')
join_df.head()

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [12]:
# Rename columns so that they are differentiated
join_df = join_df.rename(columns={ 'Open_x':'Bitcoin Opn', 'High_x':'Bitcoin High', 'Low_x':'Bitcoin Low',
                                 'Close_x':'Bitcoin Close', 'Volume_x':'Bitcoin Vol', 'Market Cap_x':'Bitcoin Mkt Cap',
                                  'Open_y':'Dash Opn', 'High_y':'Dash High', 'Low_y':'Dash Low',
                                 'Close_y':'Dash Close', 'Volume_y':'Dash Vol', 'Market Cap_y':'Dash Mkt Cap'})
join_df.head()

,Date,Bitcoin Opn,Bitcoin High,Bitcoin Low,Bitcoin Close,Bitcoin Vol,Bitcoin Mkt Cap,Dash Opn,Dash High,Dash Low,Dash Close,Dash Vol,Dash Mkt Cap
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [ ]:
# alternatively you can set your suffixes when the merge occurs

In [14]:
# Collecting best open for Bitcoin and Dash
bitmax = join_df['Bitcoin Opn'].max()
bitmax

# Collecting best close for Bitcoin and Dash
bitclose = join_df['Bitcoin Close'].max()
bitclose
# Collecting the total volume for Bitcoin and Dash
bitvol = join_df['Bitcoin Vol'].sum()/1000000
dashvol= join_df['Dash Vol'].sum()/1000000

Bitcoin Vol    2.438305e+10
Dash Vol       2.960278e+09
dtype: float64

In [ ]:
# Creating a summary DataFrame using above values