In [1]:
# Dependencies
import pandas as pd

In [2]:
# Load in File from resources
df = pd.read_csv('Resources/movie_scores.csv')
# 'movie_scores.csv'

In [4]:
# Read and display with pandas
df.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
3,Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
4,Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

In [6]:
# List all the columns the table provides
df.columns

Index(['FILM', 'RottenTomatoes', 'RottenTomatoes_User', 'Metacritic',
       'Metacritic_User', 'IMDB', 'Fandango_Stars', 'Fandango_Ratingvalue',
       'RT_norm', 'RT_user_norm', 'Metacritic_norm', 'Metacritic_user_nom',
       'IMDB_norm', 'RT_norm_round', 'RT_user_norm_round',
       'Metacritic_norm_round', 'Metacritic_user_norm_round',
       'IMDB_norm_round', 'Metacritic_user_vote_count', 'IMDB_user_vote_count',
       'Fandango_votes', 'Fandango_Difference'],
      dtype='object')

In [9]:
# only care about Imdb, so create a new table that takes the Film and all the columns relating to IMDB
imdbtbl = df[['FILM', 'IMDB', 'IMDB_norm', 'IMDB_norm_round', 'IMDB_user_vote_count']]
imdbtbl
imdbtbl = imdbtbl.set_index('FILM')
imdbtbl

,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
FILM,,,,
Avengers: Age of Ultron (2015),7.8,3.90,4.0,271107
Cinderella (2015),7.1,3.55,3.5,65709
Ant-Man (2015),7.8,3.90,4.0,103660
Do You Believe? (2015),5.4,2.70,2.5,3136
Hot Tub Time Machine 2 (2015),5.1,2.55,2.5,19560
...,...,...,...,...
Mr. Holmes (2015),7.4,3.70,3.5,7367
'71 (2015),7.2,3.60,3.5,24116
"Two Days, One Night (2014)",7.4,3.70,3.5,24345
Gett: The Trial of Viviane Amsalem (2015),7.8,3.90,4.0,1955
"Kumiko, The Treasure Hunter (2015)",6.7,3.35,3.5,5289

In [12]:
# List only movies whose ratings are over 7 (out of 10) in IMDB
key = imdbtbl['IMDB']>7 #creates new table of only match_val
df7 = imdbtbl[key]

,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
FILM,,,,
Avengers: Age of Ultron (2015),7.8,3.90,4.0,271107
Cinderella (2015),7.1,3.55,3.5,65709
Ant-Man (2015),7.8,3.90,4.0,103660
The Water Diviner (2015),7.2,3.60,3.5,39373
Shaun the Sheep Movie (2015),7.4,3.70,3.5,12227
...,...,...,...,...
Inside Out (2015),8.6,4.30,4.5,96252
Mr. Holmes (2015),7.4,3.70,3.5,7367
'71 (2015),7.2,3.60,3.5,24116
"Two Days, One Night (2014)",7.4,3.70,3.5,24345
Gett: The Trial of Viviane Amsalem (2015),7.8,3.90,4.0,1955

In [14]:
# Find lesser-known movies to watch, with fewer than 20K votes
vote_count = imdbtbl['IMDB_user_vote_count']<20000
df20k = imdbtbl[vote_count]
df20k

,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
FILM,,,,
Do You Believe? (2015),5.4,2.70,2.5,3136
Hot Tub Time Machine 2 (2015),5.1,2.55,2.5,19560
Irrational Man (2015),6.9,3.45,3.5,2680
Top Five (2014),6.5,3.25,3.5,16876
Shaun the Sheep Movie (2015),7.4,3.70,3.5,12227
...,...,...,...,...
Danny Collins (2015),7.1,3.55,3.5,11206
Serena (2015),5.4,2.70,2.5,12165
Mr. Holmes (2015),7.4,3.70,3.5,7367
Gett: The Trial of Viviane Amsalem (2015),7.8,3.90,4.0,1955
"Kumiko, The Treasure Hunter (2015)",6.7,3.35,3.5,5289

In [ ]:
# Finally, export this file to an Excel spreadsheet -- without the DataFrame index.